* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;  
  }
  
  /** A partir de aqui, es lo que va*/
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;  
  }
  
  
  .cont {
    width: 60%;
    height: auto;
    background-color: red;  
  }
  