        <br>
        <p class="h1 text-center">Chat</p>
        <br><br>
        <div id="chat" class="bg-dark border border-Secondary rounded-3 p-3" style="height: 300px; overflow: scroll">
        </div>
        <br><br>
        <div class="row">
            <div class="col-10">
                <div class="input-group">
                    <span class="input-group-text">Chat...</span>
                    <textarea id="entradaChat" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="col">
                <button id="enviar" type="button" class="btn btn-dark mt-3">Enviar</button>
            </div>
        </div>
        
        
