<br><br>
<p class="h1 text-center">Lista Incidencias</p>
<br><br>
<% if (borrado) { %>
  <span class="alert alert-success px-2 p-2" role="alert">
    Tutorial borrado
  </span><br><br>   <% } %>
<div class="row justify-content-center">
  <div class="col-4">
    <form method="get" action="/listaIncidencias" class="d-flex">
      <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</div>
<br><br>
<div class="row">

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>User</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% if (incidencias.length > 0) { %>
      <% for(var inci of incidencias) { %>
      <tr>
        <td>
          <%= inci.id %>
        </td>
        <td>
          <%= inci.tipo %>
        </td>
        <td>
          <%= inci.descripcion %>
        </td>
        <td>
          <%= inci.user %>
        </td>
        <td>
          <a href="modifIncidencia/<%= inci.id %>">
            <button type="button" class="btn btn-warning btn-sm p-0 mx-1">
              Modificar
            </button>
          </a>
          <a href="deleteIncidencia/<%= inci.id %>">
            <button type="button" class="btn btn-danger btn-sm p-0 mx-1" @click="borrarTutorial(tutorial.id)">
              Eliminar
            </button>
          </a>
        </td>
      </tr>
      <%} %>
      <% } else { %> 
        <span class="alert alert-success px-2 p-2" role="alert">
          No hay incidencias  
        </span><br><br>
      <%} %>
    </tbody>
  </table>
</div>