
  <br><br>
  <p class="h1 text-center">Modificar Incidencia</p>
  <br><br>
  <div class="p-5 border border-dark rounded">
    <form method="post" action="/incidencias/incidenciaModificada">
      <!-- hidden id field -->
      <input name="id" type="hidden" id="id" value="<%= incidencias.id %>">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="nombre" value="<%= incidencias.nombre %>">
          </div>
        </div>
        <div class="col-5">
          <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input name="dni" type="text" class="form-control" id="dni" maxlength="10" value="<%= incidencias.dni %>">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label class="form-label">Tipo incidencia</label>
          <select name="tipo" class="form-select" name="incidencia">
            <option>...</option>
            <% var tipos = ['borrado', 'recuperarPass', 'otros'] %>
            <% let getTipo = function (myTipo) {
                switch (myTipo) {
                case 'borrado' :
                        return 'Borrado'
                        break;
                
                case 'recuperarPass' : 
                        return 'Recuperar password'
                        break;
                
                case 'otros' :
                        return 'Otros'
                        break;
                        
              }
              return 'Error'; 
            } %>
            <% for (let tipo of tipos) { %>   
              <% if(tipo == incidencias.tipo) { %>
                <option value="<%= incidencias.tipo%>" selected>
                  <%= getTipo(tipo) %>
                </option>  
              <%  } else { %>
                <option value="<%= tipo %>">
                  <%= getTipo(tipo) %>
                </option> 
                
              <% } %>

            <% } %>
            <!--
            <option value="borrado">Tutorial borrado</option>
            <option value="recuperarPass">Recuperar contraseña</option>
            <option value="otros">Otros</option>
            -->
          </select>
        </div>
        <div class="col-6">
          <label class="form-label">Urgencia</label>
          <select name="urgencia" class="form-select">
            <% var urgencias = ['baja', 'media', 'alta'] %>
            <% for (let urgencia of urgencias) { %>   
              <% if(urgencia == incidencias.urgencia) { %>
                <option value="<%= incidencias.urgencia%>" selected>
                  <%= urgencia.substr(0,1).toUpperCase() + "" + urgencia.substr(1) %>
                </option>  
              <%  } else { %>
                <option value="<%= urgencia %>">
                  <%= urgencia.substr(0,1).toUpperCase() + "" + urgencia.substr(1) %>
                </option> 
                
              <% } %>

            <% } %>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="form-label">Descripción</label>
        <div class="form-floating">
          <textarea name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 150"><%= incidencias.descripcion %></textarea>
        </div>
      </div>
      <br>
      <% if (guardado) { %>
        <span class="alert alert-success px-2 p-2" role="alert">
          Guardado
        </span><br><br>   <% } %>
      <input type="submit" class="btn btn-primary" value="Enviar">
    </form>  
  </div>



</html>