:root {
    /*  navbar color  */
    --dark1: rgb(15, 15, 15);
    /* logo bg color (black) */
    --dark2: rgb(0, 0, 0);
    /* content bg color */
    --dark3: rgb(25, 25, 25);
    /* element dark bg accent (lighter) */
    --dark4: rgb(34, 34, 34);
    --font-icon: #f3c623;
    --font-icon-hov: #f3c623;
    --regular-text: #fff;
    /*accent pink*/
    --accent: #ff0080;
    /* padding top for tutorial list content (same as filters sidebar) */
    --top-padding-tut-list: 5px;
    /* form input/button/element height*/
    --form-input-height: 45px;
}
/*---NAVBAR---*/

/*  Navbar  */
.pcoded .pcoded-header[header-theme="theme1"] {
    background-color: var(--dark1);
}

/*  LOGO  */
.navbar-logo .img-fluid {
    background-image: url(../img/high-code.png);
    box-sizing: border-box;
    padding-left: 170px;
    width: 170px;
    height: 57px;
}

/*  LOGO SQUARE  */
body .pcoded .navbar.pcoded-header .navbar-logo[logo-theme="theme1"] {
    background-color: var(--dark2);
}

/*  NAVBAR EXPAND ICON  */
.pcoded .pcoded-header[header-theme="theme1"] a {
    color: var(--font-icon);
}

/* NAVBAR WITH SIDEBAR TOGGLE ICON */
.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
    color: var(--font-icon);
    border-color:  var(--font-icon);
}

/*--- FILTER SIDE BAR---*/

/* SIDEBAR BG*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .main-menu {
    background-color: var(--dark1) !important;
}
/* SIDEBAR FONT COLOR */
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu > a{
    color: var(--regular-text) !important;;
}
/* SIDEBAR SQUARE ICONS COLOR */
.pcoded .pcoded-item.pcoded-left-item > li:nth-child(1) > a > .pcoded-micon {
    background-color: var(--font-icon)
}

/* SIDE BAR SUPERSECTION */
/*font color*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu:hover > a {
    color: var(--regular-text) !important;
}
/*background*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.active:hover > a, .pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li:hover > a {
    background: var(--dark4);
}
/*background active off blur*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-trigger > a {
    background: var(--dark3);
}
/* background behind sublists*/
.pcoded .pcoded-navbar .pcoded-item > li {  
    background: var(--dark4);
}
/*expand icon*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-hasmenu .pcoded-submenu li.pcoded-hasmenu > a::after, .pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-hasmenu > a::after {
    color: var(--font-icon);
}
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-hasmenu.pcoded-trigger .pcoded-submenu li.pcoded-hasmenu.pcoded-trigger > a::after, .pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-hasmenu.pcoded-trigger > a::after {
    color: var(--regular-text);
}
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.pcoded-hasmenu:hover > a::after {
    color: var(--regular-text);
}

/* SIDEBAR SUBLIST */
/*background color*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu {
    background: var(--dark4);
}
/* font color*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li > a {    color: var(--regular-text) !important;
}
/*hover version*/
/*background*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item .pcoded-hasmenu .pcoded-submenu li:hover > a {
    background: var(--font-icon);
}
/* font color*/
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li:hover > a {    
    color: var(--dark2) !important;
}

/*---HOME (cards)---*/

    /*---CARDS---*/    
/* CARDS BG */
.cardContainer {
   background: var(--dark3); 
}

/* CARDS SHADOW */
.card {
    box-shadow: var(--dark2);
}
.card:hover {
    box-shadow: var(--dark4);
}
/* CARDS TITLE*/
.card h2 {
    background-color: var(--font-icon);
}
.card:hover h2 {
    color: var(--font-icon);
    box-shadow: var(--dark4);
}

/*---CONTENT---*/

/*  CONTENT BG and font  */
nav .pcoded[theme-layout="vertical"].pcoded-wrapper, .pcoded[theme-layout="vertical"] .pcoded-main-container {
    background-color: var(--dark3);
    color: var(--regular-text) !important;
}
    /*---TUTORIAL LIST---*/
.page-wrapper {
    padding-top: var(--top-padding-tut-list) !important;
}
/*  posts  */
/* border*/
.post.border-primary {
    border-color:var(--font-icon) !important;;
}
/* backgorund color*/
.post {
     background-color: var(--dark4);
}

/*BUTTONS STYLE */
/* buttons  */
.btn-primary, .sweet-alert button.confirm, .wizard > .actions a {
    background-color: transparent;
    border-color: var(--font-icon-hov);
    color: var(--font-icon-hov);
    max-width: none;
    padding: 2px !important;
}
/* buttons hover */
.btn-primary:hover, .sweet-alert button.confirm:hover, .wizard > .actions a:hover {
    background-color: transparent;
    border-color: var(--font-icon-hov);
    color: var(--font-icon-hov);
    transform: scale(107%);
}
/* search button */
button[type=submit] {
    background-color: transparent;
    border-color: var(--font-icon-hov);
    color: var(--font-icon-hov);
    max-width: none;
    min-height: var(--form-input-height);
}
button[type=submit]:hover {
    background-color: var(--font-icon-hov);
    border-color: var(--font-icon-hov);
    color: var(--dark2);
}
/* SELECT */
select {
    min-height: var(--form-input-height);
    margin: 0 3px;
}

/* FORMS*/
/*form border*/
.border-secondary {
    border-color: var(--font-icon) !important;
}

/*  BUTTONS WITH EXPAND FUNCTION  (ALSO SORT)*/
.arrow-expand {
    padding-right: 6px !important;
}
/* active and focus states*/
.arrow-expand:active, .arrow-expand:focus{
    background: transparent !important;
    border-color: var(--font-icon);
}
/* fletxa del boto*/
.arrow-expand::after {
    content: "\e64b";
    font-style: normal;
    margin-left: 8px;
    font-size: 10px;
    font-family: 'themify';
    text-align: center;
 }
.arrow-expand:hover::after {
    color: var(--regular-text)
}
.arrow-expand.collapsed::after {
    content: "\e649";
 }

/* SORT COLLAPSABLE CONTAINER*/
.sort-container {
    
}